*{
    margin: 0;
    box-sizing:border-box;
}

a{
    text-decoration: none;
}

li{    
    list-style: none;
}

.content1{
    height: 145px;
    border-radius: 20px 20px 0 0;
    background-color: #0F8B8D;
}

.navbar{
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content:space-between;
    padding-top:40px;
}

.list-nav ul{
    display: flex;
}

.list-nav li{
    padding: 0 30px;
}

.list-nav li a{
    color: white;
    font-size: 30px;
}

.content2{
    padding: 150px 0;
}

.product{
    text-align: center;
}

.product h3{
    font-size: 48px;
    font-weight: 700;
    color: #0F8B8D;
}

.product p{
    font-size: 24px;
    font-weight: 500;
    color: #143642;
}

.menu{
    padding-top: 40px;
    margin: 0 auto;
    width: 780px;
    display: flex;
    flex-wrap: wrap;
}

.menu-box{
    margin: 0 auto;
    flex: auto;
    position: relative;
    padding-bottom: 40px;
}

.menu-box img{
    border-radius: 20px;
}

.menu-box .deskripsi{
    position: absolute;
    top: 15px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #F9FBFE;
}

.menu-box .price{
    position: absolute;
    top: 43px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #F9FBFE;
}

.product-img{
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 99;
}

.product-img img{
    width: 186px;
    height: 139.5px;
}

footer{
    height: 460px;
    background-color: #143642;
    border-radius: 30px;
}

footer .container{
    display: flex;
    margin: 0 auto;
    width: 85%;
    padding-top: 80px;
}

.logo .logo-img{
    width: 335px;
    height: 67px;
    margin-bottom: 20px;
}

.list1, .list2, .list3{
    color: #F9FBFE;
    font-size: 24px;
    padding: 0 50px;
}

.list1 li, .list2 li , .list3 li{
    padding-bottom: 20px;
}

.active{
    color: #EC9A29;
}


